@charset "UTF-8";
/* BASIC SETUP  COLOR : #e67e22 */

/* --------------------------------- */
/* GRID INSTRUCTION */

.grid1 {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-gap: 1%;
  grid-template-rows: auto;
  grid-template-areas: "gr br";
}

.grid1-box {
  grid-area: gr;
  margin: 0 auto;
  padding-left: 10%;
}

/* MOBILE FLEXIBLE GRID */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.8%, auto));
  grid-auto-rows: 150px;
  padding: 0 1%;
  grid-gap: 5px;
}

.gallery .grid-column-1 {
  grid-row: span 2;
  /* background: url(".jpg") no-repeat; */
  background-size: cover;
  background-position-x: 55%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

/* --------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

html,
body {
  background-color: #ffffff;
  color: #666;
  font-family: "Roboto+Condensed", "Dosis", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  line-height: 1;
  overflow-x: hidden;
}

/* GENERAL MODULES */

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* hidden contents */

.offScreen {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  font-size: 0;
  line-height: 0;
}

/* REUSABLE COMPONENTS */

.container {
  max-width: 100vw !important;
  width: 100vw !important;
  height: auto;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}

section {
  padding: 60px 0;
}

body h1,
h2 {
  font-family: "Dosis";
  font-weight: 600;
  font-size: 4.5rem;
  text-align: center;
}

body h1 {
  font-size: 6rem;
  word-spacing: 4px;
  color: #fff;
  line-height: 7rem;
  text-align: left;
}

h2 {
  margin-bottom: 40px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 3px;
  background-color: #4f79bd;
  content: "";
  width: 300px;
  margin: 20px auto 25px auto;
}

h3 {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.05);
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  margin: 0;
}

button {
  font-size: 16px;
}

button,
html [type="button"] {
  -webkit-appearance: none;
}

/* BUTTONS */

body .btn {
  color: #fff !important;
  padding: 12px 0;
  margin: 0 5px;
  min-width: 140px;
  background-color: #4f79bd;
  border-radius: 4px;
  border: none;
  transition: all 150ms linear;
}

body .btn-ghost {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  color: #fff !important;
  padding: 12px 0;
  margin: 10px 0 12px 0;
  min-width: 140px;
  border-radius: 4px;
  border: 2px solid #fff;
  background-color: transparent;
  transition: all 0.3s;
  cursor: default;
}

body .btn-disable {
  background-color: #80a3dd !important;
  color: rgb(164, 199, 199) !important;
  cursor: not-allowed !important;
}

body .btn:active {
  background-color: #0aada8;
  box-shadow: 0 2px 25px #0da8a375;
}

body .btn:hover {
  opacity: 0.85;
}

body .btn-ghost:hover {
  background-color: #4f79bda6;
}

/* --------------------- */
/* HEADER */
/* --------------------- */

header {
  position: relative;
}

nav {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10;
}

.logo {
  height: 80%;
  position: absolute;
  margin-left: 2vw;
  top: 50%;
  transform: translateY(-50%);
}

.nav-box {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav {
  position: relative;
  background-color: rgba(51, 51, 51, 0.8);
  width: 0vw;
  height: 100vh;
  transition: 2s;
}

.main-nav.js--main-nav {
  width: 25vw;
}

.main-nav li {
  text-align: left !important;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  opacity: 0;
  transition-delay: 1s;
}

.main-nav li:first-child {
  padding-top: 3rem;
}

.main-nav li.js--main-nav__li {
  opacity: 1;
}

.main-nav li a {
  font-weight: 600;
  color: #4f79bd;
  position: relative;
}

.main-nav li a:before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s ease-in-out;
}

.main-nav:hover li a:before {
  width: 0;
}

.main-nav li:hover a:before {
  width: 100%;
}

/* ------------------------------ */
/* mobile navigation icon*/
/* ------------------------------ */

.mobile-nav-icon {
  position: absolute;
  top: 0;
  right: 0px;
  float: right;
  cursor: pointer;
}

.mobile-nav-icon i {
  font-size: 2rem;
  width: 58px;
  height: 58px;
  border-radius: 100px;
  line-height: 54px;
  text-align: center;
  background-color: #4f79bd;
  border: 3px solid #fff;
  color: #fff;
  margin: 30px;
}

/* ------------------------------ */
/* HERO IMAGE BOX */
/* ------------------------------ */

/* ------- svg design --------- */
.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4f79bd;
}

.ac-animated-svg-icon {
  position: absolute;
  top: 130px;
  right: 15%;
  width: 400px;
  height: 400px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
.ac-animated-svg-icon .ac-animated-svg-icon-contents {
  position: absolute;
  /* icon - padding */
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
}
.ac-animated-svg-boat {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  perspective-origin-y: 20%;
  perspective: 400px;
}
.ac-animated-svg-boat .svg-boat {
  height: 100%;
  padding-bottom: 10%;
  width: 100%;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

.ac-animated-svg-boat .svg-boat, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-boat .svg-boat {
  animation: acAnimatedSvgIconBoatAnimation 1.1s linear infinite;
}

@keyframes acAnimatedSvgIconBoatAnimation {
  0% {
      transform: rotateZ(0deg) translateX(0%);
  }
  25% {
      transform: rotateZ(2deg) translateX(-3%);
  }
  50% {
      transform: rotateZ(0deg) translateX(0%);
  }
  75% {
      transform: rotateZ(1deg) translateX(2%);
  }
  100% {
      transform: rotateZ(0deg) translateX(0%);
  }
}

.ac-animated-svg-boat .svg-flag {
  position: absolute;
  width: 22%;
  left: 53%;
  top: 5%;
}

.ac-animated-svg-boat .svg-flag {
  transform-origin: 0% 100%;
}

.ac-animated-svg-boat .svg-flag, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-boat .svg-flag {
  animation: acAnimatedSvgIconBoatFlagAnimation 1.1s ease-in-out infinite;
}

@keyframes acAnimatedSvgIconBoatFlagAnimation {
  0% {
      transform: rotateY(0deg) translateX(0%);
  }
  25% {
      transform: rotateY(40deg) translateX(-2%);
  }
  50% {
      transform: rotateY(0deg) translateX(0%);
  }
  75% {
      transform: rotateY(-40deg) translateX(3%);
  }
  100% {
      transform: rotateY(0deg) translateX(0%);
  }
}

.ac-animated-svg-boat .svg-water {
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 0px;
  z-index: 1;
}
.ac-animated-svg-boat .svg-water-2 {
  bottom: 5%;
}
.ac-animated-svg-boat .svg-water-3 {
  bottom: 10%;
}

.ac-animated-svg-boat .svg-water-1, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-boat .svg-water-1 {
  animation: acAnimatedSvgIconBoatWaterAnimation1 1.1s ease-out infinite;
}
@keyframes acAnimatedSvgIconBoatWaterAnimation1 {
  0% {
      transform: translateY(0%);
  }
  50% {
      transform: translateY(-5%);
  }
  100% {
      transform: translateY(0%);
  }
}

.ac-animated-svg-icon:hover .ac-animated-svg-boat .svg-water-2, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-boat .svg-water-2 {
  animation: acAnimatedSvgIconBoatWaterAnimation2 1.5s ease-out infinite;
}
@keyframes acAnimatedSvgIconBoatWaterAnimation2 {
  0% {
      transform: translateY(0%);
  }
  25% {
      transform: translateY(5%);
  }
  75% {
      transform: translateY(0%);
  }
  25% {
      transform: translateY(5%);
  }
}

.ac-animated-svg-icon:hover .ac-animated-svg-boat .svg-water-3, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-boat .svg-water-3 {
  animation: acAnimatedSvgIconBoatWaterAnimation3 1s ease-out infinite;
}
@keyframes acAnimatedSvgIconBoatWaterAnimation3 {
  0% {
      transform: translateY(0%) rotateX(0deg);
  }
  25% {
      transform: translateY(-5%) rotateX(10deg);
  }
  100% {
      transform: translateY(0%) rotateX(0deg);
  }
}
/* ------- svg design end ------------ */

.hero-box {
  position: relative;
}

.hero-box__p {
  position: absolute;
  top: 43%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 2;
}

.hero-box__p p {
  font-size: 2.5rem;
  color: #fff;
}

.hero-box__p p:nth-child(1) {
  color: #fff;
}

.hero-box-img {
  width: 100vw;
  height: calc(100vh - 230px);
  overflow: hidden;
  position: relative;
  background-size: cover;
}

.hero-box-cat {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 7px;
  z-index: 2;
  display: grid;
  width: 100vw;
  grid-template-areas: "div1 div2 div3 div4 div5";
  grid-template-columns: 1fr 400px 400px 400px 1fr;
  grid-template-rows: 200px;
  grid-gap: 0 7px;
  opacity: 0.8;
}

.hero-box-cat div {
  position: relative;
  text-align: center;
  background-color: rgb(7, 7, 7);
}

.hero-box__div--01 {
  grid-area: div1;
}

.hero-box__div--02 {
  grid-area: div2;
}

.hero-box__div--03 {
  grid-area: div3;
}

.hero-box__div--04 {
  grid-area: div4;
}

.hero-box__div--05 {
  grid-area: div5;
}

.hero-box-cat a h3 {
  position: absolute;
  top: -10px;
  right: 10px;
  transition: 0.5s;
}

.hero-box-cat a:hover h3 {
  color: rgba(255, 255, 255, 0.3);
  top: 15px;
}

.hero-box-cat a {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-box-cat p {
  color: rgb(211, 211, 211);
  transform: translateY(10px);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero-box-cat a p::after {
  display: block;
  height: 3px;
  background-color: #db2470;
  content: "";
  width: 0px;
  margin: 10px auto;
  transition: 1s;
}

.hero-box-cat a:hover p::after {
  width: 200px;
}

.hero-box__div--02:hover:before,
.hero-box__div--03:hover:before,
.hero-box__div--04:hover:before {
  opacity: 1;
}

.hero-box__div--02:after,
.hero-box__div--03:after,
.hero-box__div--04:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  background-color: rgba(71, 71, 71, 0.05);
  pointer-events: none;
}

.hero-box__div--02:before,
.hero-box__div--03:before,
.hero-box__div--04:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(315deg, #d81768, #ffffff);
  transform: skew(1.5deg, 1.5deg);
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

/* ---------------------- */
/* ABOUT */
/* ---------------------- */

.about {
  background-color: #f1f1f1;
}

.about-box {
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2%;
  grid-template-areas: "intro me skill";
}

.about-box-intro {
  grid-area: intro;
  text-align: right;
  padding-right: 20%;
}

.about-box-intro h4 {
  color: #555;
}

.about-box-me {
  grid-area: me;
  margin: 0 15px;
}


.about-me__img {
  text-align: center;
}

.about-me__img img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.about-box-me p {
  margin-top: 20px;
  line-height: 1.2rem;
}

.about-box-skill {
  grid-area: skill;
}

.skill-icons {
  display: flex;
  height: 70%;
  align-items: center;
}

.skill-icons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-icons ul li {
  position: relative;
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 1.9rem;
  color: #fff;
}

.skill-icons ul li,
.skill-icons ul li::after {
  background-color: #4f79bd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.skill-icons ul li::after {
  background-color: #80a3dd;
  content: attr(title);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1.3rem;
  opacity: 0;
  transition: 1s;
}

.skill-icons ul li:hover:after {
  opacity: 1;
}


/* ---------------------- */
/* EXPERIENCES */
/* ---------------------- */

.experiences {
  background-color: #fff;
}

.nav-item.active {
  background-color: #4f79bd !important;
  border: 0.5px solid #4f79bd;
  color: #fff;
}

.nav-item {
  text-align: center;
  color: #333;
  margin: 0 6px;
  padding: 10px 15px;
  min-width: 100px;
  border: .5px solid rgb(227, 227, 227);
  border-radius: 5px;
  transition: .7s ease-in-out;
}

.nav-item:hover {
  background-color: #4f79bd;
  border: 0.5px solid #4f79bd;
  color: #fff;
}

.nav.nav-pills.mb-3 {
  display: flex;
  justify-content: flex-end;
}

.tab-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.tab-content ul {
  position: relative;
  padding: 20px 0;
  animation-duration: 1s;
}

.tab-content ul::before {
  content: '';
  height: 100%;
  width: 5px;
  background: #80a3dd;
  position: absolute;
  left: 44%;
  transform: translateX(-50%);
  top: -2px;
}

.tab-content li {
  position: relative;
  margin-bottom: 40px;
}

.tab-content li:last-child {
  margin-bottom: 18px;
}

.tab-content li .float-dot {
  position: absolute;
  left: 44%;
  top: 10px;
  transform: translateX(-50%);
}

.tab-content li .float-dot::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab-content .text-primary {
  color: #4f79bd !important;
}

.spinner-grow {
  width: 1.5rem;
  height: 1.5rem;
  animation: spinner-grow 1s linear infinite;
}

.tab-content .experience {
  display: grid;
  grid-template-areas: "date content";
  grid-template-rows: auto;
  grid-template-columns: 2.3fr 3fr;
  gap: 120px;
}

.experience-date {
  grid-area: date;
  text-align: right;
  margin-top: 10px;
}

.experience-content {
  grid-area: content;
}

.experience-content p {
  line-height: 1.3;
}
/* ---------------------- */
/* PROJECTS */
/* ---------------------- */

.projects {
  background-color: #f1f1f1;
}

.projects-cat {
  display: flex;
  justify-content: center;
}

.projects-cat a {
  color: #4f79bd;
  border: 0.5px solid #4f79bd;
}

.projects-cat a:hover {
  color: #fff;
}

.projects-content {
  width: 100%;
  margin: 30px 0;
  min-height: 500px;
}

.proj-dev {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-auto-rows: 220px;
  grid-gap: 10px;
  overflow: hidden;
}

.proj-img {
  /* background-image: url("image/app1-min.jpg"); */
  /* background-size: cover; */
  /* background-position-x: 50%; */
  border: 1px solid #4f79bd25;
  position: relative;
  overflow: hidden;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.proj-img img {
  width: 100%;
  padding: 3px;
}


.proj-img::before {
  content: '';
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: -100px;
  left: 0;
  background: linear-gradient(0deg, #4f79bd 5%, transparent);
  transition: 1s ease-out;
}

.proj-img-last {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-img .proj-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 2;
  padding: 10px;
  transform: translateY(90%);
  transition: 1s ease-in-out;
}

.proj-img .proj-caption span {
  float: right;
  font-size: 1.2rem;
}

.proj-img .proj-caption span i {
  margin-right: 5px;
}

.proj-img:hover::before {
  bottom: 0;
}

.proj-img:hover .proj-caption {
  transform: translateY(0%);
}

.proj-img .proj-caption div {
  width: 100%;
  text-align: center;
}

/* MODDAL */
.modal .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  max-width: 600px !important;
}

.modal-content {
  position: relative;
  border: 0;
  box-shadow: 0 0 20px #333;
}

.modal-content .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1;
}

.modal-content .modal-header .close {
  font-size: 2.5rem;
  text-shadow: 0 2px 0 #fff;
}

.modal-content .modal-body {
  width: 100%;
  border-bottom: 5px solid #4f79bd;
  padding: 0;
}

.carousel-inner {
  height: 350px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
}

.btn-carousel {
  background-color: #4f79bd;
  width: 60px;
  height: 60px;
  opacity: 1;
  top: calc(100% - 59px);
}

.modal-content .modal-footer {
  display: block;
  border: 0;
  margin: 4px 6px;
  height: 300px;
}

.modal-content .modal-footer h4 {
  margin: 0 5px 5px 3px;
}

.modal-content .modal-footer .modal-subtitle {
  margin-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.modal-content .modal-footer .modal-text {
  margin: 15px 0 18px 0;
  padding: 0 4px;
  line-height: 1.4;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.modal-btn {
  /* background-color: #333; */
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.modal-btn .btn-ghost {
  margin: 0;
  border: 2px solid #4f79bd;
  color: #4f79bd !important;
}

.modal-btn .btn-ghost:hover {
  color: #fff !important;
  background-color: #4f79bd;
}

/* ---------------------- */
/* CONTACT */
/* ---------------------- */

.contact {
  text-align: center;
  background-color: #333;
  color: rgb(223, 223, 223);
}

.contact-form__div {
  width: 500px;
  margin: 50px auto 0 auto;
}

.contact-form__div .form__input {
  position: relative;
}


.contact-form__div .form__input input,
.contact-form__div .form__input textarea {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 2px solid #4f79bd;
  outline: none;
  background: transparent;
}

.contact-form__div .form__input textarea {
  height: 120px;
  resize: none;
}

.contact-form__div .form__input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.contact-form__div .form__input label:after {
  content: " *";
  color: rgb(209, 25, 25);
}

.form__input input:focus~label,
.form__input textarea:focus~label,
.form__input input:valid~label,
.form__input textarea:valid~label {
  content: "23525?";
  top: -18px;
  color: #4f79bd;
  font-size: 14px;
}



/* ---------------------- */
/* FOOTER */
/* ---------------------- */

footer {
  background-color: #4f79bd;
  color: #fff;
  padding: 30px 4%;
  z-index: 999 !important;
}

footer .footer-address,
footer small {
  margin: 7px 0;
  display: block;
  text-align: right;
}

footer .footer-name a,
footer .footer-email a {
  padding: 3px 15px;
  display: inline-block;
}

footer .footer-name a:after,
footer .footer-email a:after {
  content: "";
  width: 70%;
  display: block;
  background-color: #fff;
  height: 2px;
  margin: 5px auto;
}

footer small {
  margin-bottom: 10px;
}

/* ---------------------- */
/*  SVG  */
/* ---------------------- */
.circle {
  fill: none;
  stroke: #4f79bd;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.circle-dash {
  fill: none;
  stroke: #4f79bd;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.check {
  fill: none;
  stroke: #4f79bd;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.check-dash {
  fill: none;
  stroke: #4f79bd;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.check {
  stroke-dasharray: 60 100;
  animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
  -webkit-animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
  -moz-animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
  -o-animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
  opacity: 0;
}

@-webkit-keyframes check {
  from {
    stroke-dashoffset: 60;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 00;
    opacity: 1;
  }
}

@-moz-keyframes check {
  from {
    stroke-dashoffset: 60;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 00;
    opacity: 1;
  }
}

@keyframes check {
  from {
    stroke-dashoffset: 60;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 00;
    opacity: 1;
  }
}

.check-dash {
  stroke-dasharray: 10 100;
  animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
  -webkit-animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
  -moz-animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
  -o-animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
}

@-webkit-keyframes check-dash {
  from {
    stroke-dashoffset: 120;
  }
  to {
    stroke-dashoffset: 45;
  }
}

@-moz-keyframes check-dash {
  from {
    stroke-dashoffset: 120;
  }
  to {
    stroke-dashoffset: 45;
  }
}

@keyframes check-dash {
  from {
    stroke-dashoffset: 120;
  }
  to {
    stroke-dashoffset: 45;
  }
}

.circle {
  stroke-dasharray: 300 300;
  animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
  -webkit-animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
  -moz-animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
  -o-animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
  opacity: 0;
}

@-webkit-keyframes circle {
  from {
    stroke-dashoffset: 300;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@-moz-keyframes circle {
  from {
    stroke-dashoffset: 300;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes circle {
  from {
    stroke-dashoffset: 300;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.circle-dash {
  stroke-dasharray: 10 300;
  animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
  -webkit-animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
  -moz-animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
  -o-animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
  opacity: 0;
}

@-webkit-keyframes circledash {
  from {
    stroke-dashoffset: 320;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 20;
    opacity: 1;
  }
}

@-moz-keyframes circledash {
  from {
    stroke-dashoffset: 320;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 20;
    opacity: 1;
  }
}

@keyframes circledash {
  from {
    stroke-dashoffset: 320;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 20;
    opacity: 1;
  }
}

.contactModal {
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.contactModal .modal-body {
  border-bottom: 0;
  height: 300px !important;
}

.modal-done:first-child {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

.modal-title {
  color: #4f79bd;
  font-weight: 600;
  font-size: 2.3rem;
  margin: 0 auto;
}

.modal-done .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.8rem;
}

.modal-done .close span {
  font-size: 2.8rem;
}

.svg__div {
  margin: 30px auto 15px auto;
}

.attendies {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}